* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    margin-left: 0;
    margin-right: 0;
    padding-left: 200px;
    padding-right: 200px;
  }
  header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .title{
    color: purple;
    padding-bottom: 40px;
  }
  